<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    Hola <%= name %>, elegiste el color: <%= favoriteColor %>, tu email es:
    <%= email %> y tu fecha de nacimiento es: <%= birthDate %>


    <form action="logout" method="post">
        <button>Logout</button>
    </form>
</body>

</html>