<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="post">
        <div>
            <label for="name">Nombre: </label>
            <input name="name" id="name" type="text">
        </div>
        <div>
            <label for="'color">Color Favorito:</label>
            <select name="color" id="color">
                <option value="red">Rojo</option>
                <option value="blue">Azul</option>
                <option value="green">Verde</option>
            </select>
        </div>
        <div>
            <label for="email">Email: </label>
            <input name="email" id="email" type="text">
        </div>
        <div>
            <label for="birthDate">Fecha de Nacimiento: </label>
            <input name="birthDate" id="birthDate" type="date">
        </div>
        <button>Submit!</button>

    </form>
</body>

</html>