<!DOCTYPE html>
<html>
  <head>
  <%- include("./partials/head.ejs") %>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <main class="container">
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/movies">Listado de Películas</a></li>
          <li><a href="/movies/add">Agregar una Pelicula</a></li>
        </ul>
      </div>
      <figure class="logoDH">
        <img src="/img/logo-DH.png" alt="Logo Digital House" />
        </figure>
        <section class="contenido">
          <h1 class="tituloPrincipal">
            <%= title %>
          </h1>
          <h2 class="subtitulo">Bienvenido </h2>
          <h2><a href="/movies">Listado de Películas</a></h2>
        </section>
      <br /><br />
      <section class="informacion">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla natus
          ipsum minima ducimus possimus quo, nam debitis odit molestiae unde
          doloribus temporibus dolorum soluta, fugit quasi nesciunt dolorem rem
          incidunt.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
          mollitia deleniti laboriosam libero necessitatibus autem maiores optio
          assumenda debitis. Maxime natus quisquam deserunt, magni ab facilis
          nesciunt quidem tempora et?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
          reprehenderit ea asperiores, maxime quasi deserunt et distinctio
          praesentium ex numquam, odit molestias animi, sunt dicta consequatur.
          Itaque mollitia labore aliquid.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa
          facere ipsum quia perferendis unde aliquid obcaecati qui voluptate, in
          est aut minima quas sunt dolores. Eligendi harum reprehenderit
          impedit.
        </p>
      </section>
      </main>
      
      </body>
</html>