«
<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->

    <!-- todos los productos -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Todos los productos</h2>
            </div>

            <% products.forEach(product => { %>
            <%- include("partials/product-card", {product}) %>
            <% }) %>

        </div>
    </div>
    <!-- /todos los productos -->

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>