<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= `${actor.firstName} ${actor.lastName}` %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= `${actor.firstName} ${actor.lastName}` %></h1>
    <br>
    <p>Rating: <%= actor.rating %> </p>

    <button>
        <a href="/actors">Volver</a>
    </button>

</body>

</html>